[Unit]
Description=NetInfo Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/netinfo -address 0.0.0.0 -server
Restart=on-failure
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target