[Unit]
Description=VIVY Network Info Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/root/vnetinfo -s
Restart=on-failure
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target