[Unit]
Description=NetInfo Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/netinfo -server -address 127.0.0.1 -port 1996 -netdb
Restart=on-failure
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target