[Unit]
Description=NetInfo Receiver
After=network.target network-online.target

[Service]
Environment="GIN_MODE=release"
Environment="N_LISTEN=localhost:1996"
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/local/bin/netinfo receive -listen=${N_LISTEN}

[Install]
WantedBy=multi-user.target